* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, sans-serif;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
  transition: .4s;
}

a:hover {
  color: #DEC129;
}

/* FORM */

form {
  width: 450px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bold;
  font-size: .9rem;
  margin-bottom: .4rem;
}

.form-group input,
.form-group textarea {
  padding: .6rem;
  color: #777;
  font-size: .8rem;
}

input[type="submit"] {
  background-color: #EFEFEF;
  border: 2px solid transparent;
  padding: .6rem 1rem;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: .4s;
}

input[type="submit"]:hover  {
  color: #DEC129;
  border-color: #DEC129;
  background-color: transparent;
  filter: brightness(0.8);
}